html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
  display: flex;
}
* {
  box-sizing: border-box;
}

.grid {
  background-color: #fff;
  border: 2px solid black;
  /* padding: 32px; */
  box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.5);
}

.cell {
  border-radius: 1px;
  /* border: 1px solid  */
}

button {
  background: white;
  margin: 16px 4px;
  color: black;
  border: 2px solid black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 8px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}
